
{% extends "home/base.html" %}
{% load static %}
{% block content %}

            <!-- tp-service-hero-area-start -->
            <div class="tp-service-hero-area pre-header fix tp-service-hero-spacing p-relative z-index-1">
               <div class="container-fluid container-1524 containers">
                  <div class="row pb-45">
                     <div class="col-lg-7">
                        <div class="tp-service-hero-left p-relative mb-40">
                           <h2 class="fs-70 fs-lg-60 fs-xs-40 fw-700 ls-m-3 lh-110-per tp-ff-dm tp-text-common-black-1">We Provide<br> Smart Solutions.</h2>
                           <span class="tp-service-hero-shape tpswing d-none d-sm-inline-block">
                              <svg width="52" height="94" viewBox="0 0 52 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M1 16.1098C5.58433 24.0984 22.6118 44.5692 38.3295 38.0785C46.3521 34.5835 58.2264 23.6551 45.206 5.12554C40.2943 -1.86444 30.6673 -0.666183 25.559 14.1127C22.6118 22.6393 15.2441 43.0714 22.612 61.0456C26.5006 70.5321 38.1332 85.2111 49.1356 90.0043M49.1356 90.0043C44.0601 87.3414 32.8285 84.2126 28.5061 93M49.1356 90.0043C45.8611 88.1736 40.0979 80.8174 43.2414 66.0385M10.2322 38.0785C9.38015 41.6962 8.2675 54.4237 15.144 64.4094" stroke="#10302A" stroke-width="1.5" />
                              </svg>
                           </span>
                        </div>
                     </div>
                     <div class="col-lg-5">
                        <div class="tp-service-hero-right mt-130">
                           <p class="tp-section-3-para fs-20 lh-140-per tp-ff-dm">We craft digital experiences that engage, convert,<br> and grow your business. From branding to development,<br> we provide end-to-end solutions tailored.</p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="tp-breadcrumb-wrap">
                  <div class="container-fluid container-1524 containers">
                     <div class="row">
                        <div class="col-12">
                           <div class="tp-breadcrumb-list tp-breadcrumb-2-list">
                              <ul>
                                 <li><a href="index.html">Home</a></li>
                                 <li><span></span></li>
                                 <li>Business Consulting</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- tp-service-hero-area-end -->

            <!-- tp-breadcrumb-banner-area-start -->
            <div class="tp-breadcrumb-banner-spacing pre-header bg-position" data-background="{% static 'assets/img/service/ai/two.jpg' %}">
               <div class="tp-breadcrumb-banner-content tp-bg-common-black-1">
                  <div class="container-fluid container-1524">
                     <div class="row">
                        <div class="col-lg-4">
                           <div class="mb-10">
                              <span class="tp-ff-dm fw-500 fs-20 lh-140-per ls-m-4 tp-text-grey-5">We are a proud member, of the :</span>
                           </div>
                        </div>
                        <div class="col-lg-8">
                           <div class="tp-breadcrumb-banner-list d-flex flex-wrap">
                              <span class="tp-ff-dm fw-500 fs-20 lh-140-per ls-m-4 tp-text-grey-5 mr-30 mb-10 d-flex">
                                 <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.7503 0.276674L7.8072 14.7403C7.57495 15.0311 7.22607 15.0888 6.93501 14.8568C6.87645 14.799 6.87645 14.799 6.81763 14.7403L0.0258056 5.79766C-0.032257 5.7399 0.0258056 5.68214 0.0258056 5.68214C0.083618 5.62438 0.141681 5.68214 0.141681 5.68214L7.23308 10.8441L18.4597 0.0438828C18.5175 -0.0146276 18.6341 -0.0146276 18.6919 0.0438828C18.7503 0.101393 18.7503 0.217914 18.7503 0.276674Z" fill="#F3F1F2" />
                                 </svg>
                                 Association of Trusted Business Consultants
                              </span>
                              <span class="tp-ff-dm fw-500 fs-20 lh-140-per ls-m-4 tp-text-grey-5 mb-10 d-flex">
                                 <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.7503 0.276674L7.8072 14.7403C7.57495 15.0311 7.22607 15.0888 6.93501 14.8568C6.87645 14.799 6.87645 14.799 6.81763 14.7403L0.0258056 5.79766C-0.032257 5.7399 0.0258056 5.68214 0.0258056 5.68214C0.083618 5.62438 0.141681 5.68214 0.141681 5.68214L7.23308 10.8441L18.4597 0.0438828C18.5175 -0.0146276 18.6341 -0.0146276 18.6919 0.0438828C18.7503 0.101393 18.7503 0.217914 18.7503 0.276674Z" fill="#F3F1F2" />
                                 </svg>
                                 A+ BBB Rated – Arkansas
                              </span>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- tp-breadcrumb-banner-area-end -->
           
            <!-- tp-service-area-start -->
            <div class="tp-service-area pt-145">
               <div class="container-fluid container-1524">
                  <div class="row">
                     <div class="col-12">
                        <div class="tp-service-cst-3-wrap">
                           <h2 class="tp-section-title mb-65 tp-ff-dm fs-72 fs-xl-60 fs-lg-50 fw-600 tp-text-common-black-1">What We Offer</h2>
                           <div class="swiper tp-service-cst-slider">
                              <div class="swiper-wrapper">
                                 <div class="swiper-slide">
                                    <div class="tp-service-cst-item p-relative">
                                       <div class="tp-service-cst-thumb">
                                         <img class="w-100"  src="{% static 'assets/img/service/ai/three.jpg' %}" alt="">
                                       </div>
                                       <div class="tp-service-cst-content tp-bg-common-white">
                                          <h5 class="fw-600 fs-28 tp-ff-dm tp-text-common-black-1 mb-15"><a class="underline-black" href="service-details-2-light.html">Finance consulting</a></h5>
                                          <p class="tp-service-cst-item-border tp-ff-dm fs-18 lh-140-per tp-text-common-black-1">Finance consulting involves providing expert <br> advice to businesses, individuals, or organizations</p>
                                          <a href="service-details-2-light.html" class="tp-left-right fw-700 tp-ff-dm fs-16 text-uppercase tp-text-common-black-1">
                                             <span class="mr10 td-text d-inline-block mr-5">View Details</span>
                                             <span class="tp-arrow-angle">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                </svg>
                                             </span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide">
                                    <div class="tp-service-cst-item p-relative">
                                       <div class="tp-service-cst-thumb">
                                           <img class="w-100" src="{% static 'assets/img/service/ai/three.jpg' %}" alt="">
                                       </div>
                                       <div class="tp-service-cst-content tp-bg-common-white">
                                          <h5 class="fw-600 fs-28 tp-ff-dm tp-text-common-black-1 mb-15"><a class="underline-black" href="service-details-2-light.html">Marketing consulting</a></h5>
                                          <p class="tp-service-cst-item-border tp-ff-dm fs-18 lh-140-per tp-text-common-black-1">Marketing consulting involves providing expert <br> advice and strategies to businesses to improve</p>
                                          <a href="service-details-2-light.html" class="tp-left-right fw-700 tp-ff-dm fs-16 text-uppercase tp-text-common-black-1">
                                             <span class="mr10 td-text d-inline-block mr-5">View Details</span>
                                             <span class="tp-arrow-angle">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                </svg>
                                             </span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide">
                                    <div class="tp-service-cst-item p-relative">
                                       <div class="tp-service-cst-thumb">
                                         <img class="w-100" src="{% static 'assets/img/service/ai/three.jpg' %}" alt="">
                                       </div>
                                       <div class="tp-service-cst-content tp-bg-common-white">
                                          <h5 class="fw-600 fs-28 tp-ff-dm tp-text-common-black-1 mb-15"><a class="underline-black" href="service-details-2-light.html">Business consulting</a></h5>
                                          <p class="tp-service-cst-item-border tp-ff-dm fs-18 lh-140-per tp-text-common-black-1">Finance consulting involves providing expert advice<br> to businesses, individuals, or organizations</p>
                                          <a href="service-details-2-light.html" class="tp-left-right fw-700 tp-ff-dm fs-16 text-uppercase tp-text-common-black-1">
                                             <span class="mr10 td-text d-inline-block mr-5">View Details</span>
                                             <span class="tp-arrow-angle">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                </svg>
                                             </span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="swiper-slide">
                                    <div class="tp-service-cst-item p-relative">
                                       <div class="tp-service-cst-thumb">
                                          <img class="w-100" src="{% static 'assets/img/service/ai/three.jpg' %}" alt="">
                                       </div>
                                       <div class="tp-service-cst-content tp-bg-common-white">
                                          <h5 class="fw-600 fs-28 tp-ff-dm tp-text-common-black-1 mb-15"><a class="underline-black" href="service-details-2-light.html">Branding Design</a></h5>
                                          <p class="tp-service-cst-item-border tp-ff-dm fs-18 lh-140-per tp-text-common-black-1">Branding is more than just a logo—it’s <br>
                                             the foundation of your startup’s identity.</p>
                                          <a href="service-details-2-light.html" class="tp-left-right fw-700 tp-ff-dm fs-16 text-uppercase tp-text-common-black-1">
                                             <span class="mr10 td-text d-inline-block mr-5">View Details</span>
                                             <span class="tp-arrow-angle">
                                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                   <path fill-rule="evenodd" clip-rule="evenodd" d="M2.41379 3.30208C5.97452 3.05821 10.6092 1.55558 14 0C12.4438 3.39014 10.9406 8.02425 10.6973 11.585L8.35765 6.59331L1.14783 13.8037C1.02165 13.9295 0.850656 14.0001 0.672431 14C0.539461 14 0.409486 13.9605 0.298934 13.8866C0.188382 13.8128 0.102217 13.7077 0.0513353 13.5849C0.000453949 13.462 -0.0128613 13.3269 0.013072 13.1965C0.0390053 13.066 0.103024 12.9462 0.197034 12.8522L7.40683 5.64241L2.41379 3.30208Z" fill="currentColor" />
                                                </svg>
                                             </span>
                                          </a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div> 
            <!-- tp-service-area-end -->

            <!-- tp-service-details-area-start -->
            <div class="tp-service-details-area pt-145">
               <div class="container-fluid container-1524">
                  <div class="row">
                     <div class="col-12">
                        <div class="tp-service-details-title-wrap mb-45">
                           <h2 class="tp-section-title mb-0 tp-ff-dm fs-72 fs-xl-60 fs-lg-50 fw-600 tp-text-common-black-1">Service Overview</h2>
                           <span class="tp-service-details-border">
                              <svg viewBox="0 0 1498 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path opacity="0.1" d="M0 1L1498 1.00013" stroke="#10302A" />
                              </svg>
                           </span>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="tp-service-details-content mr-100 mb-40">
                           <p class="fs-18 tp-ff-dm ls-m-2 lh-140-per mb-50">Branding design is the process of creating a unique identity that visually<br> and strategically represents a business. It includes logo design, color schemes, typography, and brand messaging to ensure consistency across all platforms.</p>
                           <p class="fs-18 tp-ff-dm ls-m-2 lh-140-per">Branding design is the visual and strategic identity of a business,<br> shaping how it is perceived by customers. It includes elements like the<br> logo, color palette, typography, imagery, and messaging, all working together <br>to create a strong and memorable brand presence.</p>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="tp-service-details-content tp-service-details-content-2 mr-85 mb-40">
                           <h5 class="fs-25 mb-25 tp-ff-dm">Our Approach to Branding</h5>
                           <ul>
                              <li>
                                 <i class="fa-regular fa-circle-check"></i>
                                 <p><b>Discovery & Research </b></p>
                              </li>
                              <li>
                                 <i class="fa-regular fa-circle-check"></i>
                                 <p><b>Concept Development</b> Creating initial branding concepts and design ideas.</p>
                              </li>
                              <li>
                                 <i class="fa-regular fa-circle-check"></i>
                                 <p><b>Refinement & Testing –</b> Perfecting the visuals and ensuring they resonate with your audience.</p>
                              </li>
                              <li>
                                 <i class="fa-regular fa-circle-check"></i>
                                 <p><b>Final Implementation –</b> Delivering all branding assets with a detailed style guide.</p>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- tp-service-details-area-end -->

            <!-- tp-about-process-area -->
            <div class="tp-about-process-area pb-120">
               <div class="container-fluid container-1524">
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="tp-service-process-img fix scale-up-img tp-round-20 mt-30 mb-40">
                            <img class="w-100" src="{% static 'assets/img/service/ai/three.jpg' %}" alt="">
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="tp-service-process-img fix scale-up-img tp-round-20 mt-30 mb-40">
                            <img class="w-100" src="{% static 'assets/img/service/ai/three.jpg' %}" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- tp-about-process-end -->

            <!-- tp-process-area-start -->
            <div class="tp-process-area pb-140 p-relative z-index-1">
               <div class="container-fluid container-1524">
                  <div class="row align-items-center">
                     <div class="col-lg-5">
                        <div class="tp-process-pp-video-wrap tp-process-it-video-thumb d-flex mb-50">
                           <span class="tp-process-it-icon d-none d-xl-block">
                              <svg width="155" height="310" viewBox="0 0 155 310" fill="none" xmlns="http://www.w3.org/2000/svg">
                                 <path d="M155 155C155 240.604 85.6041 310 0 310V0C85.6041 0 155 69.3959 155 155Z" fill="#B4E717" />
                              </svg>
                           </span>
                           <div class="tp-process-pp-video-inner tp-process-it-wrap p-relative d-inline-block">
                              <img class="tp-process-pp-video-img" src="assets/img/process/it/thumb.png" alt="">
                              <div class="tp-video-main tp-process-it-video">
                                 <a class="tp-hero-video-btn popup-video" href="https://www.youtube.com/watch?v=go7QYaQR494">
                                    <span>
                                       <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M13.5645 10.1224C15.0631 9.1342 15.0631 6.93206 13.5645 5.94387L5.18141 0.416189C3.51284 -0.684068 1.29437 0.527069 1.31261 2.52828L1.41277 13.5176C1.43082 15.4982 3.63024 16.673 5.2816 15.5841L13.5645 10.1224Z" fill="#030303" />
                                       </svg>
                                    </span>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-7">
                        <div class="tp-process-it-title-wrap mb-50">
                           <h2 class="tp-text-revel-anim fix tp-ff-dm fw-600 fs-60 fs-xs-40 lh-120-per ls-m-4 tp-text-common-black-1 mb-20">Guided by Process,<br> Driven by Results.</h2>
                           <p class="tp-section-it-para fs-24 fs-xs-18 tp-ff-dm lh-150-per">We follow a streamlined, intelligent workflow designed<br>
                              to eliminate friction and deliver consistent results.</p>
                        </div>
                     </div>
                  </div>
                  <div class="row gx-30 pt-30">
                     <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tp-process-it-item tp-process-it-item-2 text-center mb-30 tp_fade_anim" data-delay=".3">
                           <span class="tp-process-it-position tp-ff-dm fs-24 fw-600 tp-text-common-black-5 mb-110 d-inline-block">{ 01 }</span>
                           <h4 class="tp-process-it-title tp-ff-dm fs-28 lh-120-per tp-text-common-black-5 mb-20">Design<br> & Prototyping</h4>
                           <p class="tp-process-it-para tp-ff-dm fs-16 lh-150-per tp-text-common-black-5 opacity-8"></p>
                        </div>
                     </div>
                     <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tp-process-it-item tp-process-it-item-2 text-center mb-30 tp_fade_anim" data-delay=".5">
                           <span class="tp-process-it-position tp-ff-dm fs-24 fw-600 tp-text-common-black-5 mb-110 d-inline-block">{ 02 }</span>
                           <h4 class="tp-process-it-title tp-ff-dm fs-28 lh-120-per tp-text-common-black-5 mb-20">Research<br> & Analysis</h4>
                           <p class="tp-process-it-para tp-ff-dm fs-16 lh-150-per tp-text-common-black-5 opacity-8"></p>
                        </div>
                     </div>
                     <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tp-process-it-item tp-process-it-item-2 text-center mb-30 tp_fade_anim" data-delay=".7">
                           <span class="tp-process-it-position tp-ff-dm fs-24 fw-600 tp-text-common-black-5 mb-110 d-inline-block">{ 03 }</span>
                           <h4 class="tp-process-it-title tp-ff-dm fs-28 lh-120-per tp-text-common-black-5 mb-20">Testing <br> & Iteration</h4>
                           <p class="tp-process-it-para tp-ff-dm fs-16 lh-150-per tp-text-common-black-5 opacity-8">Conduct user research (interviews, surveys, analytics).</p>
                        </div>
                     </div>
                     <div class="col-xl-3 col-lg-6 col-md-6">
                        <div class="tp-process-it-item tp-process-it-item-2 text-center mb-30 tp_fade_anim" data-delay=".9">
                           <span class="tp-process-it-position tp-ff-dm fs-24 fw-600 tp-text-common-black-5 mb-110 d-inline-block">{ 04 }</span>
                           <h4 class="tp-process-it-title tp-ff-dm fs-28 lh-120-per tp-text-common-black-5 mb-20">Prepare <br> for Delivery</h4>
                           {% comment %} <p class="tp-process-it-para tp-ff-dm fs-16 lh-150-per tp-text-common-black-5 opacity-8">Conduct user research (interviews, surveys, analytics).</p> {% endcomment %}
                        </div>
                     </div>
                     <div class="col-lg-12">
                        <div class="tp-skill-wd-bottom text-center mt-30 tp_fade_anim" data-delay=".4" data-fade-from="bottom" data-ease="bounce">
                           <p class="tp-process-it-para-2 tp-process-it-para-3 tp-skill-wd-para tp-ff-dm fw-500 fs-16 tp-text-common-black-5">Don’t hesitate collaborate with expertise- 
                              <a href="contact-us-light.html" class="ml-20 d-inline-block lh-0 tp-round-26 fs-16 ls-m-3 text-uppercase ls-0 tp-btn-switch-animation tp-text-common-black tp-ff-dm fw-700">
                                 <span class="d-flex align-items-center justify-content-center">
                                    <span class="btn-text">Let’s Talk</span>
                                    <span class="btn-icon">
                                       <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M8 11L13 6M13 6L8 1M13 6H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </span>
                                    <span class="btn-icon">
                                       <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                          <path d="M8 11L13 6M13 6L8 1M13 6H1" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                       </svg>
                                    </span>
                                </span> 
                              </a>
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- tp-process-area-end -->

            <!-- tp-faq-area-start -->
            <div class="tp-faq-area p-relative z-index-1 pb-100">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-9 offset-lg-3">
                        <div class="tp-faq-ai-title-wrap mb-50">
                           <span class="text-anim tp-ff-dm fw-500 fs-18 ls-m-4 tp-text-common-black-1 mb-10 d-inline-block">/ FAQ /</span>
                           <h2 class="text-anim tp-section-ai-title fs-72 fs-xl-65 fs-lg-55  fs-sm-45 fs-xs-40 fw-600 ls-m-4 tp-ff-dm tp-text-common-black-1">Explore Answers to<br> Our Most Asked Questions</h2>
                        </div>
                     </div>
                     <div class="col-12">
                        <div class="tp-faq-wrap tp-faq-cst-tab-content tp-faq-cst-tab-content-2 tp-faq-ai-tab-content">
                           <div class="accordion mb-60" id="general_faqaccordion">
                              <div class="accordion-item tp_fade_anim" data-delay=".3">
                                 <h2 class="accordion-header p-relative" id="order_one">
                                    <button class="tp-faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_one" aria-expanded="true" aria-controls="order__collapse_one">
                                       <span class="tp-faq-ai-count">01</span>
                                          What industries do you serve?
                                       <span class="accordion-btn"></span>
                                    </button>
                                 </h2>
                                 <div id="order__collapse_one" class="accordion-collapse collapse show" aria-labelledby="order_one" data-bs-parent="#general_faqaccordion">
                                    <div class="accordion-body tp-faq-details-para">
                                       <p>Partnering with this AI agency was one of the best decisions we’ve made. From the very first call,<br>
                                          their team demonstrated deep technical knowledge and a strong understanding.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item tp_fade_anim" data-delay=".3">
                                 <h2 class="accordion-header p-relative" id="order_two">
                                    <button class="collapsed tp-faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_two" aria-expanded="false" aria-controls="order__collapse_two">
                                       <span class="tp-faq-ai-count">02</span>
                                       How do you protect client data and privacy?
                                       <span class="accordion-btn"></span>
                                    </button>
                                 </h2>
                                 <div id="order__collapse_two" class="accordion-collapse collapse" aria-labelledby="order_two" data-bs-parent="#general_faqaccordion">
                                    <div class="accordion-body tp-faq-details-para">
                                       <p>Partnering with this AI agency was one of the best decisions we’ve made. From the very first call,<br>
                                          their team demonstrated deep technical knowledge and a strong understanding.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item tp_fade_anim" data-delay=".3">
                                 <h2 class="accordion-header p-relative" id="order_three">
                                    <button class="collapsed tp-faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_three" aria-expanded="false" aria-controls="order__collapse_three">
                                       <span class="tp-faq-ai-count">03</span>
                                       Do you provide support after the project is done?
                                       <span class="accordion-btn"></span>
                                    </button>
                                 </h2>
                                 <div id="order__collapse_three" class="accordion-collapse collapse" aria-labelledby="order_three" data-bs-parent="#general_faqaccordion">
                                    <div class="accordion-body tp-faq-details-para">
                                        <p>Partnering with this AI agency was one of the best decisions we’ve made. From the very first call,<br>
                                          their team demonstrated deep technical knowledge and a strong understanding.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item tp_fade_anim" data-delay=".3">
                                 <h2 class="accordion-header p-relative" id="order_four">
                                    <button class="collapsed tp-faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_four" aria-expanded="false" aria-controls="order__collapse_four">
                                       <span class="tp-faq-ai-count">04</span>
                                       How long does an average AI project take?
                                       <span class="accordion-btn"></span>
                                    </button>
                                 </h2>
                                 <div id="order__collapse_four" class="accordion-collapse collapse" aria-labelledby="order_four" data-bs-parent="#general_faqaccordion">
                                    <div class="accordion-body tp-faq-details-para">
                                        <p>Partnering with this AI agency was one of the best decisions we’ve made. From the very first call,<br>
                                          their team demonstrated deep technical knowledge and a strong understanding.</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="accordion-item tp_fade_anim" data-delay=".3">
                                 <h2 class="accordion-header p-relative" id="order_five">
                                    <button class="collapsed tp-faq-btn" type="button" data-bs-toggle="collapse" data-bs-target="#order__collapse_five" aria-expanded="false" aria-controls="order__collapse_five">
                                       <span class="tp-faq-ai-count">05</span>
                                       Is my data safe and secure?
                                       <span class="accordion-btn"></span>
                                    </button>
                                 </h2>
                                 <div id="order__collapse_five" class="accordion-collapse collapse" aria-labelledby="order_five" data-bs-parent="#general_faqaccordion">
                                    <div class="accordion-body tp-faq-details-para">
                                        <p>Partnering with this AI agency was one of the best decisions we’ve made. From the very first call,<br>
                                          their team demonstrated deep technical knowledge and a strong understanding.</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- tp-faq-area-end -->
             
    

{% endblock %}